<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.restapi.domain.task.repository.TaskRepository">
    <resultMap id="BaseResultMap" type="com.example.restapi.domain.task.repository.TaskRecord">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="comment" jdbcType="VARCHAR" property="comment" />
        <result column="progress" jdbcType="INTEGER" property="progress" />
        <result column="deadline" jdbcType="DATE" property="deadline" />
    </resultMap>
  
    <sql id="Base_Column_List">
        id, title, comment, progress, deadline
    </sql>
  
    <select id="select" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tasks
        where id = #{taskId}
    </select>

    <select id="selectList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tasks
        order by id asc
        limit #{limit}
        offset #{offset}
    </select>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.restapi.domain.task.repository.TaskRecord" useGeneratedKeys="true">

        insert into tasks (
            title,
            comment,
            progress,
            deadline
        ) values (
            #{title,jdbcType=VARCHAR},
            #{comment,jdbcType=VARCHAR},
            #{progress,jdbcType=INTEGER},
            #{deadline,jdbcType=DATE}
        )
    </insert>

    <update id="update" parameterType="com.example.restapi.domain.task.repository.TaskRecord">
        update tasks set 
            title = #{title},
            comment = #{comment},
            progress = #{progress},
            deadline = #{deadline}
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        delete from tasks where id = #{taskId}
    </delete>
</mapper>